<li id="follower_user-<%= follower_user.id %>">
  <%= link_to gravatar_for(follower_user, size: 50), follower_user %>
  <span class="user"><%= link_to follower_user.name, follower_user %></span>
</li>