<li id="following_user-<%= following_user.id %>">
  <%= link_to gravatar_for(following_user, size: 50), following_user %>
  <span class="user"><%= link_to following_user.name, following_user %></span>
</li>